<section class="hero bg-white" id="main">
  <div class="row d-md-flex brand">
    <div class="col-md-6 hidden-sm-down wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
      <%= image_tag "hero-graphic.png", class: "img-fluid mx-auto d-block pl-5" %>
    </div>

    <div class="col-md-6 col-sm-12 text-primary wow fadeIn pr-5" style="visibility: visible; animation-name: fadeIn;">
        <h2 class="pt-5">Neighbors<b> Helping </b> Neighbors</h2>
        <p class="mt-5 text-dark">
          Ximity is a volunteer community exchange. We provide a platform for vulnerable or at-risk people to post their needs and
            for helpers to step up and assist.
        </p>
        <p class="mt-5">
            <a href="users/sign_in" class="btn btn-primary text-white page-scroll">Get Started</a>
        </p>
    </div>
  </div>
</section>
