<div class="container-form" style="text-align: left;">
  <h1>Update your offer</h1>
  <%= render 'shared/form', offer: @offer %> <br>
  <%= link_to 'Delete Offer', offer_path(@offer), method: :delete %> <br>
</div>