* {
    box-sizing: border-box;
    justify-content: center;
}

.card {
    justify-content: center;
    
}

.form-inputs {
    text-align: left;

    * {
        margin-top: 10px;
        margin-left: 10px;
    }   
}


