* {
    box-sizing: border-box;
    justify-content: center;
}

.card {
    justify-content: center;  
    padding: 40px
}

.form-inputs {
    text-align: left;
}

.row {
    text-align: center;
    
}
